body {
    font-family: 'Kotta One';
	font-size: 18px;
}


#scroller { 
        position: sticky;
		}
		#scroller .innerScrollArea {
			overflow: hidden;
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
		}
		#scroller ul {
			padding: 0;
			margin: 0;
			position: relative;
		}
		#scroller li {
			padding: 0;
			margin: 0;
			list-style-type: none;
			position: absolute;
		}

#banner{
	position: fixed;
	
	top: 25px;
	left: 0px;

	right: 0px;

	height:10%;
	width:100%;

	border: none;
	background-color: #1ecbe1;

	text-align:center;
	font-family:'Arizonia';
	font-size: 22px;
}

ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1ecbe1;
}

ul.nav li {
	float: left;
}

ul.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.nav li a:hover:not(.active) {background-color: #FBB7C6;}

ul.nav li a.active {background-color: #F994AA;}

ul.nav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.nav li.right, 
  ul.nav li {float: none;}
}

#divcontainer{
	position: fixed;

	top: 0px;
	left: 0px;

	right: 0px;

	height:100%;
	width:100%;
}


#content{
	position: fixed;
	overflow-y: auto;

	top: 20%;
	left: 17.5%;
	right: 17.5%;

	height:65%;
	width:65%;
	

	background-color: #F4F5F7;
	border: ridge #FBB7C6 ;
      
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #FBB7C6;
  border-radius: 10px;
}

.tooltip { 
/* container for tooltip */
  position: relative;
  display: inline-block;
  border-bottom: 1px groove black;
}

.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #B7B7B7;
  color: #E9718E;
  text-align: center;
//  border-radius: 6px;
//  padding: 3px 0;
	border: dashed;

  /* Position the tooltip to the foreground using the 3rd axis (z)*/
  position: absolute;
  z-index: 1;
}


/* make tooltip visable upon hover */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

::selection {
    background-color: #FBB7C6;
    color: white;
}